.home-tab {
    background-color: red;
    color: white;
  }
  
  .profile-tab {
    background-color: blue;
    color: white;
  }
  
  .contact-tab {
    background-color: green;
    color: white;
  }
  
  
  .test{
    background-color: aqua;
  }